/* General Styles */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5e3;
    color: #5c4a3e;
}

.navbar {
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    background-color: #8b7355;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    border-radius: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #a88c6e;
}

.container {
    padding: 20px;
}

h1 {
    color: #5c4a3e;
}


.activity {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-details {
    background-color: #8b7355; /* Muted brown for buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.view-details:hover {
    background-color: #a88c6e; /* Lighter brown for hover */
}


.schedule {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8b7355;
    color: white;
}
